<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.task_it">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taskit">

        <activity
            android:name=".EmpResetPw"
            android:exported="true" />
        <activity
            android:name=".EmpProfUp"
            android:exported="true" />
        <activity
            android:name=".EmpProfile"
            android:exported="true" />
        <activity
            android:name=".EmpPwConfig"
            android:exported="true" />
        <activity
            android:name=".EmpRegSuccess"
            android:exported="true" />
        <activity
            android:name=".EmpRegResetPw"
            android:exported="true" />
        <activity
            android:name=".EmpRegEn"
            android:exported="true" />
        <activity
            android:name=".empRegAccept"
            android:exported="true" />
        <activity
            android:name=".EmpLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
